<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to chat by Travel Agentic AI</h2>
    <button onclick="openGoogle()">Open Travel Agentic AI Chatbot</button>
        <script>
        function openGoogle(){
         window.open("https://e9fa595ccd8c61509e.gradio.live", "_blank");
            }
    </script>
    <form action="/main" method="post">
        <input type = "submit" value="Main">
    </form>
    </div>
</body>




